@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

/*
font-family: 'Dongle', sans-serif;
*/

body{
    font: 50px 'Dongle', sans-serif;
    color: #6c6c6c;
    /* width: 100%; */
}
/* .cf:after{
    content:'';
    clear:both;
    display: block;
} */
.container{
    width: 80%;
    margin:0 auto;
}
.fa-solid{
    text-indent: -9999em;
    vertical-align: center;
    display: inline-block;
    width: 26px;
    height: 30px;
}