@import url(reset.css);
@import url(common.css);

/* ----------header----------*/
header{
    padding: 5px 0;
    background: #ffeead;
    /* border: 3px dotted black; */
}
header div{
    /* border: 1px solid aqua; */
    /* display: flex;
    flex: 1 1 0; */
}
header div h1{
    text-indent: -9999em;
    display: hidden;
    width: 0;
    height: 0;
}
header div nav{
    /* border: 1px solid sandybrown; */
    margin: 10px;
    
}
/* header > div{
    display: flex;
} */
.Header_logo a{
    /* border: 1px solid blue; */
    width:150px ;
    height: 50px;
    /* background: url() no-repeat; */
    /* background: #fff; */
    text-indent: -9999em;
    font-weight: bold;
    /* display: flex; */
    /* vertical-align: middle; */
    /* position: absolute; */
    /* justify-content: center; */
    /* align-items: center; */
    /* top: 6.5%; */
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    
}
header .logo{
    /* float: left; */
    /* padding-top: 30px; */
    /* z-index: 1; */
}
header ul{
    padding: 0 5%;
    display:flex;
    justify-content: space-between;
}
header ul li{
    /* border: 1px solid red; */
    /* height: 50px;width: 50px; */
}
header ul li i{
    /* font-size: 60px;
    color: black; */
}
header ul li .fa-shoe-prints{
    background: url(../images/shoe-prints-solid.svg) no-repeat;
    vertical-align: middle;
}
header ul li .fa-user{
    background: url(../images/user-solid.svg) no-repeat;
    vertical-align: middle;
}
header nav ul li:nth-child(1){
    /* float: left; */
    /* order: 1; */
    margin-right: auto;
}
header nav ul li:nth-child(3){
    /* float: right; */
    margin-left: auto;
}
header nav ul li a{
    text-indent: -9999em;
    /* border: 1px solid hotpink; */
    /* float: right; */
}
header nav ul li>a{
    font-size: 45px;
}
header nav ul li:nth-child(2)>a{
    font-size: 60px;
}

/* ----------body(account)----------*/

main .MyAccount{
    /* border: 1px solid red; */
    background: rgb(255, 181, 201);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 30px 0;
    border: 5px dotted rgb(207, 57, 97);
}
.MyAccount .account{
    /* border: 1px solid yellow; */
    /* height: 50px; */
    color: brown;
    vertical-align: center;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    transform: translate(0px, 50%);
}

/* ----------body(workplace)----------*/

.MyWorkplace {
    /* border: 3px dotted gray; */
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(infinite, 100px);
    justify-content:space-evenly;
    align-content:center;
    padding: 20px 0;
    background: #ffeead;
    
}


.MyWorkplace > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #ffeead;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.MyWorkplace div a{
    /* background: url(../images/plus-solid.svg) no-repeat; */
    color: #ffeead;
}

.MyWorkplace > div:nth-child(1n) {
    background-color: #96ceb4;	
}

.MyWorkplace > div:nth-child(2n) {
    background-color: #ff6f69;
}

.MyWorkplace > div:nth-child(3n) {
    background-color: #ffcc5c;
}

  
/* ----------body(instagram)----------*/

main .Instagram{
    border: 1px solid green;
    color: blue;
    height: 100px;
    padding: 30px 0;
    align-items: center;
	background: #ffeead;
	display: flex;
	height: 300px;
	justify-content: center;
}
/* 
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

/* // Animation */
/* @keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
} */


/* // Styling */
/* .slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}  */

/*
슬라이드용 이미지 경로 
https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-08.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-09.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-10.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-11.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-12.jpg
*/

.controls {text-align: center;}
/* .carousel {margin:0 auto;} */
.carousel-item img{width:15%; }
.indicators{
  background: #333;
}