@media screen and (max-width:1320px){
    .container {width: 100%; margin: 0 auto; box-sizing: border-box;}
    /* .container li{
        
    } */
    .Myworkplace div{width: %;}
}
@media screen and (max-width:1000px){
    
}